#sidebar {
    height: 100vh;
    padding: 1rem;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.list-group-item:hover {
    background-color: #0e86d4;
    color: white;
}

.list-group-item.active {
    background-color: #055c9d;
    border-color: #055c9d;
    color: white;
}

#content {
    display: flex;
}

#page {
    padding: 1rem;
}

.fixed-right-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin: 0 1.5rem 1.5rem 0;
    border-radius: 50%;
}
